.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  width: 300px;
  border-radius: 13px;
  font-size: 16px;
  padding-left: 40px;
  transition: all 0.25s ease-in-out;

}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 8px;
  top: 10px;

}

.clearIcon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 270px;
  top: 10px;

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}